[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
googletrans = "==4.0.0-rc1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11.3"
