<!DOCTYPE html>
<html>
<head>
    <title>DictionaryBot</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <div class="container" style="height: 100%;">
        <div class="header">
            <h1>Welcome to DictionaryBot</h1>
        </div>

        <div class="chat-window">
            <ul class="messages">
                {% for message in chat_history %}
                    <li class="message {% if message.sender == 'user' %}user-message{% else %}bot-message{% endif %}">
                        <p>{{ message.content }}</p>
                        <div class="timestamp">{{ message.timestamp }}</div>
                    </li>
                {% endfor %}
            </ul>
            <div class="input-field">
                <form action="{{ url_for('definition') }}" method="post">
                    <input type="text" id="word" name="word" placeholder="Enter a word...">
                    <button type="submit" class="btn-send">Send</button>
                </form>
            </div>
            <div class="input-field">
                <form action="{{ url_for('translate') }}" method="post">
                    <input type="text" id="text" name="text" placeholder="Enter a text...">
                    <input type="hidden" id="dest_lang" name="dest_lang" value="en">
                    <button type="submit" class="btn-send">Translate</button>
                </form>
            </div>            
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        // Remove initial bot message after user sends their first message
        var userMessageSent = false;
        document.querySelector('.chat-window form').addEventListener('submit', function() {
            if (!userMessageSent) {
                var initialBotMessage = document.querySelector('.bot-message.initial');
                if (initialBotMessage) {
                    initialBotMessage.remove();
                }
                userMessageSent = true;
            }
        });
    </script>
</body>
</html>
